/* main */

main {
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 0 0 120px;
    background: #000000;
}

main::before {
    position: absolute;
    content: '';
    left: 0;
    top: -80px;
    width: 100%;
    background: #000000;
    filter: blur(50px);
}

/* sections general */
section {
    position: relative;
    overflow: hidden;
    padding: 120px 100px 20px;
    width: 100%;
    transition: ease-in-out 1s;
    transform-origin: bottom;
    z-index: 1100;
}

section h1 {
    font-weight: 500;
    font-size: 4rem;
    letter-spacing: 1px;
    margin-bottom: 150px;
    text-align: center;
    color: #ffffff;
}

section .section-title {
    position: relative;
    color: #ffffff;
    font-weight: 500;
    font-size: 2rem;
    margin-bottom: 30px;
    text-transform: lowercase;
}

section .section-title::after {
    position: relative;
    content: '';
    left: 0;
    bottom: -30px;
    width: 50px;
    height: 5px;
    background: linear-gradient(90deg,
            var(--primary),
            var(--primary),
            transparent
            );
}

section p {
    font-weight: 300;
    color: #111111;
    letter-spacing: 1px;
    margin-bottom: 40px;
}
