
.hero .content {
    position: relative;
    max-width: 600px;
    visibility: hidden;
    opacity: 0;
    transform: scale(0);
    transition: 1s;
    z-index: 1000;
}

.hero .content.active {
    visibility: visible;
    opacity: 1;
    transform: scale(1);
}

.movie-title {
    max-width: 250px;
    margin-bottom: 20px;
}

.hero .content h4 {
    color: rgba(255, 255, 255, 0.6);
    font-weight: 400;
    font-size: 30px;
}

.hero .content h4 span {
    padding: 0 10px;
    border-right: 1px solid rgba(255, 255, 255, 0.6);
}

.hero .content h4 span:last-child {
    padding-left: 0;
    border-right: 0;
}

.hero .content h4 span i {
    padding: 0 10px;
    background: var(--primary-color);
    color: #ffffff;
    display: inline;
    border-radius: 2px;
}

.hero .content p {
    color: #ffffff;
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.5rem;
    margin: 20px 0 30px;
}


.hero .trailer active {
    position: relative;
    visibility: hidden;
    opacity: 0;
    transform: scale(0);
    transition: 1s;
    z-index: 1000; 
}

.trailer  active p {
    color: var(--primary);
    font-size: 1.5rem;
    margin-left: 20px;
    margin-bottom: 0;
    text-decoration: none;
    
}



.hero .playBtn {
    position: relative;
    color: #ffffff;
    width: 80px;
    height: 80px;
    transition: 1s;
    z-index: 1000;
    background: transparent;
    backdrop-filter: blur(20px);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer !important;
}

.hero .playBtn ion-icon {
    font-size: 5rem;
    color: var(--primary);
    cursor: pointer;
}

.hero .playBtn:hover {
    background: rgba(255, 255, 255, 0.1);
}

.hero .playBtn::before {
    content: '';
    position: absolute;
    top: -5px;
    left: -5px;
    right:-5px;
    bottom:-5px;
    border-radius: 50%;
    border: 10px solid #c6c6c4;
    animation: button 1.5s linear infinite;
}

@keyframes button {
    0%, 
    100% {
        opacity: 0.3;
        filter: blur(5px);
    }
    50% {
        opacity: 1;
        filter: blur(10px);
        transition: 1s;
    }
}

